<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bbs.vuebbs.mapper.PostMapper">
    <select id="selectPostList" resultType="com.bbs.vuebbs.model.Post">
        SELECT p.*, TO_CHAR(p.created_at, 'YYYY-MM-DD') AS created_at_formatted, u.nickname as author_nickname
        FROM post p
        LEFT JOIN user u ON p.author = u.user_id
        WHERE p.board_id = #{board_id};
    </select>
    <select id="selectPostDetail" resultType="com.bbs.vuebbs.model.Post">
        SELECT p.*, TO_CHAR(p.created_at, 'YYYY-MM-DD') AS created_at_formatted, u.nickname as author_nickname
        FROM post p
        LEFT JOIN user u ON p.author = u.user_id
        WHERE p.post_id = #{post_id};
    </select>
    <insert id="insertPost">
        INSERT INTO post (title, author, content, board_id, created_at, updated_at)
        VALUES (#{title}, #{author}, #{content}, #{board_id}, NOW(), NOW());
    </insert>
    <update id="updatePost">
        UPDATE post
        SET
            title = #{title},
            content = #{content},
            board_id = #{board_id},
            updated_at = NOW()
        WHERE post_id = #{post_id};
    </update>
    <delete id="deletePost">
        DELETE FROM post
        WHERE post_id = #{post_id};
    </delete>
    <update id="updateLikeCount">
        UPDATE post
        SET like_count = like_count + 
            <choose>
                <when test="updateType == 'increase'">1</when>
                <when test="updateType == 'decrease'">-1</when>
                <otherwise>0</otherwise>
            </choose>
        WHERE post_id = #{post_id};
    </update>
</mapper>
