<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bbs.vuebbs.mapper.UserMapper">

    <select id="selectUserByUsername">
        SELECT *
        FROM user
        WHERE username = #{username}
    </select>

    <select id="checkDuplication" resultType="int">
        SELECT COUNT(*)
        FROM user
        WHERE 
        <choose>
            <when test="type == 'username'">
                username = #{value}
            </when>
            <when test="type == 'email'">
                email = #{value}
            </when>
            <otherwise>
                1 = 0 <!-- 잘못된 type 예외 -->
            </otherwise>
        </choose>
    </select>

    <insert id="insertUser">
        INSERT INTO user (username, email, nickname, password, profile_picture) 
        VALUES (#{username}, #{email}, #{nickname}, #{password}, #{profile_picture})
    </insert>

    <select id="getUserActivityRecords">
        SELECT p.post_id, p.title, p.author, TO_CHAR(p.created_at, 'YYYY-MM-DD') AS created_at_formatted
        FROM post p
        JOIN user_activity ua ON p.post_id = ua.post_id
        WHERE ua.user_id = (
            SELECT u.user_id
            FROM `user` u
            WHERE u.username = #{username}
        ) AND ua.activity_type = #{activity_type};
    </select>

    <select id="getPostsByUsername">
        SELECT p.post_id, p.title, p.author, TO_CHAR(p.created_at, 'YYYY-MM-DD') AS created_at_formatted
        FROM post p
        WHERE p.author = (
            SELECT u.user_id
            FROM `user` u
            WHERE u.username = #{username}
        )
    </select>

    <select id="checkLikedPost">
        SELECT COUNT(*)
        FROM post p
        JOIN user_activity ua ON p.post_id = ua.post_id
        WHERE ua.user_id = (
            SELECT u.user_id
            FROM `user` u
            WHERE u.username = #{username}
        ) AND ua.activity_type = 'like'
        AND ua.post_id = #{post_id};
    </select>

    <insert id="insertUserActivity">
        INSERT INTO user_activity (user_id, post_id, activity_type) 
        VALUES (#{user_id}, #{post_id}, #{activity_type});
    </insert>

    <delete id="deleteUserActivity">
        DELETE FROM user_activity
        WHERE user_id = #{user_id} AND post_id = #{post_id} AND activity_type = #{activity_type};
    </delete>
</mapper>
